/* Defaults
   ========================================================================== */

// Font defaults
html {
  font-size: #{$base + 'px'};
  font-size: #{$base-font-size + '%'};
  font-family: $font-body;
  color: $color-font-body;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // @include margin-top(3);
  @include margin-bottom(2);
}

// Line-height & margin reset
* {
  @include line-height(1);
  @include margin(0, 0, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.block-full-width {
  background: #fafafa;
  padding: 0 10%;
  margin: 0 -12.5%;
  width: 125%;

  @media screen and (min-width: 760px) {
    padding: 0 10%;
    margin: 0 -2.5%;
    width: 105%;

    .book-giveaway-info {
      float: left;
      max-width: 60%;
    }
  }
}

.block-full-width-dark {
  @extend .block-full-width;
  background: #111F2E;
  color: #fff;
  @include margin-top(3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;

  p {
    max-width: 100%!important;
  }
}

.countdown {
  @include margin-top(1);
  @include margin-bottom(2);

  .attention-grabber {
    @include margin-bottom(1.5);
  }
}

.author {
  @include padding(0, 0, 3);
}


.overlay-content {
  h2 {
    margin-top: 0;
  }
}

#product-component-bf3df1ca0db button {
  font-family: $custom-font-headings;
}

// Responsive
@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  * {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/line-height';
    @import '../mixins/margin';

    @include line-height(1);
    @include margin-bottom(1);
  }

  body,
  html {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  html {
    font-size: #{$base-desktop + 'px'};
    font-size: #{$base-font-size-desktop / 100 + 'rem'};
    // @include margin-top(4);
    @include margin-bottom(2);
    padding: 0;
  }

  .countdown {
    @include margin-top(3);
    @include margin-bottom(3);
    @include margin-bottom(3);
  }
}