// test 2

.book-new {
  margin: 0;
  padding: 0;
}

.example-links {
  span {
    display: block;
  }

  img {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
  }
}

@media screen and (min-width: 48em){
  .example-links span {
    display: inline;
  }

  img.sketch {
    margin-left: 20px;
  }
}

.question {
  max-width: 33rem;
}

.variant-selectors {
  margin-bottom: 20px;

  * {
    line-height: 1rem;
    margin-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s;
    border: 2px solid #fff;

    &:hover {
      cursor: pointer;
    }
  }
}

.product {
  background: #fafafa;

  @media screen and (min-width: 48em){
  .button {
      max-width: 300px;
    }
  }

  h1 {
    font-family: $custom-font-acumin;
    text-transform: none;
    font-size: 1.7rem;
    @include line-height(1.5);
    margin: 0;
    @include margin-bottom(0.5);
    margin-top: 0;
    text-align: center;
  }

  .subtitle {
    font-family: $custom-font-body;
    font-size: 1.3rem;
    margin: 0;
    text-transform: none;
    @include margin-bottom(0.5);
    text-align: center;
  }

  .book-info {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .get-sample {
    text-align: center;
  }

  @media screen and (min-width: 48em){
    .book-info {
      max-width: none;
    }

    h1 {
      @include margin-top(2);
      text-align: left;
      margin-left: 0;
      font-size: 2rem;
      max-width: 400px;
    }

    .subtitle {
      text-align: left;
    }

    .book-info {
      // max-width: 80%;
      margin-left: 0;
    }

    .get-sample {
      text-align: left;
    }
  }

  @media screen and (min-width: 80em){
    h1 {
      @include margin-top(4);
    }
  }
}

.whats_inside {
  background: #fafafa;
  border-radius: $radius-soft;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  .whats_inside-image {
    display: none;
  }

  ul {
    list-style: none;
  }

  li {
    @include margin-bottom(.5);
    background: url(../assets/images/tick.svg) no-repeat center left;
    padding: 0 0 0 28px;
  }
}

@media screen and (min-width: 60em){
  .whats_inside {
    padding: 0;

    .whats_inside-image {
      display: block;
    }

    .whats_inside-image, .whats_inside-content {
      float: left;
    }

    .whats_inside-image {
      max-width: 45%;
    }
  }
}

@media screen and (min-width: 80em){
  .whats_inside {
    max-width: 1040px;
  }
}

.book-page {
  .lesson-img img {
    max-width: 100%;
  }

  .button-secondary {
    max-width: 263px;
  }

  .bg-dark a {
    color: #fff;
    @include margin-bottom(1.5);
  }

  .how-it-works {
    padding-bottom: 3rem;

    p.desc {
      max-width: 21em;
    }
  }

  .toc {
    @include margin-bottom(3);
    list-style: none;

    ul {
      list-style: none;
    }
  }

  .about-author {
    z-index: 1;
    margin-top: -2rem;

    h2 {
      @include margin-top(3);
    }
  }

  .white-fix {
    z-index: 1;
  }

  .block-full-width, .block-full-width-dark {
    margin: 0;
    width: 100%;
  }

  .block-full-width-dark {
    background: #111F2E;

    h2 span {
      color: #fff;
    }
  }

  p {
    @include margin-bottom(1);
  }

  .sketchSource img, .sourceCode img {
    margin: 0 5px -5px;
    display: inline;
  }

  .sourceCode {
    @include margin-bottom(0.5);

    img {
      margin-right: 9px;
    }
  }

  .sketchSource span {
    font-family: $custom-font-acumin;
    color: $bwt-green;
    font-size: 10px;
    font-weight: bold;
  }

  .book-features {
    text-align: center;
    line-height: 2;

    img, .sketchSource img, .sourceCode img {
      margin: 0 5px -5px;
      display: inline;

      &:first-child {
        margin-left: 0;
        margin-right: 8px;
      }

      &:nth-child(2){
        margin-right: 0;
      }
    }

    @media screen and (min-width: 48em){
      text-align: left;
      @include line-height(1);
    }
  }

  h2, .content h3 {
    max-width: 80%;

    span {
      text-transform: none;
      font-family: $custom-font-body;
      font-size: 1.5rem;
      font-style: italic;
      display: block;
      line-height: 1;
      margin-bottom: 0;
      font-weight: normal;
      @include margin-bottom(0.5);
    }
  }

  .content h3 span {
    font-size: 1rem;
  }

  .review {
    @include margin-bottom(1);
  }

  .review-content {
    display: flex;
    flex-direction: column;
  }

  .reviewer {
    margin-bottom: 0;
    width: 100%;
    flex: 1 0 auto;

    img {
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 48em){
    .review:nth-child(1) {
      @include margin-top(3);
    }
    .popularity {
      @include padding(2,0,3);
    }
  }

  .author {
    padding-bottom: 0;
  }

  .hardcover {
    background: #F6CBC7;
    padding-bottom: 5%;

    img {
      margin: 0 3px -5px;
      display: inline;
    }

    h2 {
      color: #fff;
      @include margin-bottom(1);
      max-width: none;
    }

    @media screen and (min-width: 48em){
      // max-height: 540px;
      overflow: hidden;
      padding-bottom: 1%;
    }
  }

  .toc {
    // width: 100%;
    padding: 0;

    ul {
      padding: 0;
    }

    span {
      display: block;
      color: $bwt-red;
      @include margin-bottom(0.5);

      &:nth-child(1){
        @include margin-top(1);
      }
    }
  }
}

.book-option {
  font-family: $custom-font-acumin;
  background: #fff;
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.18);
  border-radius: 4px;
  position: relative;
  padding: 18px;

  @media screen and (min-width: 48em){
    max-width: 500px;
  }

  .desc {
    font-size: 12px;
    color: #938D8F;
    display: block;
    max-width: 75%;

    @media screen and (min-width: 375px){
      max-width: 80%;
    }
  }

  .price, .price-from {
    position: absolute;
    right: 18px;
    top: 24px;
  }

  .price-from {
    display: none;
    font-size: 14px;
    color: #938D8F;
    font-family: $custom-font-acumin;
    top: 27px;
    right: 95px;

    @media screen and (min-width: 29em){
      display: block;
    }

    @media screen and (min-width: 48em){
      display: none;
    }

    @media screen and (min-width: 60em){
      display: block;
    }
  }

  @media screen and (min-width: 48em){
    .desc {
      font-size: 14px;
    }
  }
}

.variant-selectors input[type="radio"]:checked+.book-option {
  border: 2px solid $bwt-green;
}

.basic-padding {
  padding: 10% 5%;

  @media screen and (min-width: 48em){
    padding: 5%;
  }
}

.learn-how {
  list-style: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  img {
    margin-left: auto;
    margin-right: auto;
  }

  li {
    width: 100%;
    float: left;
    margin-bottom: 0;
    // margin-left: auto;
    // margin-right: auto;

    // &:nth-child(odd){
    //   padding-right: 15px;
    // }

    // &:nth-child(even){
    //   padding-left: 15px;
    // }

    @media screen and (min-width: 48em){
      &:nth-child(odd){
        padding-right: 30px;
      }

      &:nth-child(even){
        padding-left: 0px;
      }
    }
  }
}

@media screen and (min-width: 48em){
  .learn-how {
    max-width: 720px;
  }

  .learn-how li {
    max-width: 50%;
    min-height: 177px;
  }
}

@media screen and (min-width: 60em){
  .learn-how li {
    max-width: 33%;
  }
}

.eBook .remaining {
  display: none;
}

.Paperback .remaining, .Hardcover .remaining {
  font-size: 12px;
  line-height: 2;
  color: $bwt-red;
}