.book-page-deluxe {
  overflow-x: hidden;

  .pager {
    bottom: 20px;

    @media screen and (min-width: 28em){
      bottom: 40px;
    }
  }
  .product {
    background: #101F2F;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content-slider {
    background: #101F2F;
  }

  .variant-selectors {

    label {
      border: 2px solid #192837;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .book-option .desc {
    max-width: 75%;

    // @media screen and (min-width: 375px){
      // max-width: 80%;
    // }
  }

  .price {
    top: 18px;

    @media screen and (min-width: 48em){
      top: 22px;
    }
  }

  .variant-selectors input[type="radio"]:checked+.book-option {
    border: 2px solid #2F3F4D;
    background: #2F3F4D;
  }

  .book-option {
    background: #192837;

    .desc {
      color: #fff;
    }

    .remaining {
      color: #fff;
      font-size: 12px;
      font-family: $custom-font-acumin;
      display: block;
      line-height: 2;

      @media screen and (min-width: 23em){
        display: inline;
        line-height: 1;
      }
    }

    .price, .price-from {
      color: #fff;
    }
  }

  .subtitle {
    @include margin-bottom(1);
  }

  label.Silver {
    color: #D7DFDF;
  }

  label.Gold {
    color: #D7C074;
  }

  h2, .content h3 {
    color: $bwt-red;
    margin-top: 0;
    
    @media screen and (min-width: 80em){
      max-width: 80%;
    }

    span {
      text-transform: none;
      font-family: $custom-font-body;
      color: $color-font-body;
      font-size: 1.5rem;
      font-style: italic;
      display: block;
      line-height: 1;
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 0;
  }

  .silver-badge, .gold-badge {
    font-family: $custom-font-acumin;
    font-weight: bold;
    border: 1px solid;
    border-radius: 2px;
    font-size: 14px;
    padding: 0px 14px;
    padding-bottom: 2px;
  }

  .gold-badge {
    border-color: $bwt-gold;
    color: $bwt-gold;
  }

  .silver-badge {
    border-color: $bwt-silver;
    color: $bwt-silver;
  }

  strong .silver-badge, strong .gold-badge {
    margin-left: 8px;
    @include margin-bottom(0.5);
  }

  span.silver-badge, span.gold-badge {
    display: inline-block;
  }

  .memory-game {
    padding-left: 0;

    p, h2, span {
      margin-left: 5%;
    }

    h2 span {
      margin-left: 0;
    }

    img {
      margin-left: -5%;
    }

    @media screen and (min-width: 64em){
      p, h2, span {
        margin-left: 0;
      }
    }


    h2 {
      @include margin-bottom(1);
    }
  }

  .cheatsheet {
    h2 {
      @include margin-bottom(1);
    }
  }

  .t-shirt {
    padding-right: 0;

    p, h2, span {
      margin-right: 5%;
    }

    h2 span {
      margin-right: 0;
    }

    img {
      margin-right: -15%;
      float: right;
    }

    @media screen and (min-width: 80em){
      img {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 64em){
      p, h2, span {
        margin-right: 0;
      }
    }

    h2 {
      @include margin-bottom(1);
    }
  }
}

img.deluxe-box {
  display: none;

  @media screen and (min-width: 64em){
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 45%;
    z-index: 1;
  }
}

.box-content {
  position: relative;
  background: #F7F9FD;

  p {
    position: relative;
    z-index: 100;
  }

  strong {
    font-family: $custom-font-acumin;
    font-size: 1rem;
  }
}

.deluxe-title {
  display: block;
  color: #D7C074;
  font-weight: normal;
  font-size: 24px;
  @include line-height(1.5);
  margin-bottom: 0;
}

.deluxe-edition-explained {
  padding-right: 0;

  @media screen and (min-width: 64em){
    .column:nth-child(1){
      width: 40%;
    }

    .column:nth-child(2){
      width: 60%;
    }
  }
}

.hide-mobile {
  display: none;

  @media screen and (min-width: 64em){
    display: block;
  }
}