footer {
  display: block;
  font-family: "acumin-pro", Helvetica, Arial, sans-serif;
  font-size: 13px;

  a {
    color: $color-font-body;
    text-decoration: none;

    &:hover {
      color: $color-font-body;
      text-decoration: underline;
    }
    &:visited {
      color: $color-font-body;
    }
  }

  strong a {
    text-decoration: underline;

    &:visited {
      color: $color-font-body;
    }
  }

  body > & {
    margin: 0 auto;

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
      width: 80%;
    }
  }

}
