header {
  position: relative;
  @include margin-top(2);
}

.logo {
  display: none;
  font-family: $custom-font-headings;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;

  a {
    text-decoration: none;
    color: $bwt-black;
  }
}

header nav {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  font-weight: bold;

  a {
    font-family: $custom-font-acumin;
    color: $bwt-black;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 4px;
    margin-right: 15px;

    &:visited {
      color: $bwt-black;
    }

    &.active {
      border-bottom: 3px solid $bwt-mix;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $desktop) {
  header nav, .logo {
    display: block;
  }
}