.book-main {
  text-align: center;
  @media screen and (min-width: 47.5em) {
    text-align: left;
  }

  img {
    max-width: 150px;
    float: none;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 47.5em) {
      max-width: 30%;
      float: left;
      @include padding(0,1.5,0,0)
    }
  }

  .button, p {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 47.5em) {
      margin-left: 0;
    }
  }

  h1 {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
    text-transform: none;
    margin: 0;
    @include font-size(2);
    @include line-height(1.5);
    @include margin-bottom(0.5);
  }

  .tagline {
    margin: 0;
    @include margin-bottom(0.5);
    @include margin-top(0.5);
  }

  p {
    margin-bottom: 0;
  }

  @media screen and (min-width: 760px) {
    max-width: 850px;
    // .button {
    //   float: left;
    // }
  }
}

.price {
  color: $bwt-red;
  font-family: $custom-font-headings;
  @include font-size(2.22222222);
  @include line-height(1.5);
}

.original-price {
  color: #c0c0c0;
  margin-bottom: 0;
  font-family: $custom-font-headings;
  @include font-size(2.22222222);
  // @include margin-bottom(0.5);
  @include line-height(1.5);

  span {
    color: $color-font-body;
    // text-decoration: line-through;
    position: relative;
  }

  span::before {
    content: '';
    border-bottom: 2px solid $color-font-body;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.book-info {
  width: 100%;
  @media screen and (min-width: 760px) {
    max-width: 65%;
  }
}

body.book-page article {
  max-width: none;
}

.featured-logo img {
  width: 60%;
  max-width: 270px;
  @include margin-bottom(0);
  @media screen and (min-width: 760px) {
    width: 100%;
    @include margin-top(1);
    @include margin-bottom(1);
  }
}

.max-width {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.purchase-bottom {
  @include margin-top(2);
  @include margin-bottom(3);

  .cover {
    @include margin-bottom(1);
    max-width: 119px;
  }

  h1 {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
    text-transform: none;
    margin: 0;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    @include font-size(1.6);
    @include line-height(1.5);
    @include margin-bottom(0.5);
  }

  .price {
    @media screen and (min-width: 760px) {
      font-size: 60px;
      @include margin-bottom(1.5);
    }
  }

  small {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
  }

  .paypal {
    margin-top: 0;
    max-width: 94px;
  }
}

.toc {
  li {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
  }
}

.small-caps {
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
}

.half-bottom-margin {
  @include margin-bottom(0.5);
}

.book-feature {
  @media screen and (min-width: 29.375em) {
    width: 50%;
    float: left;
  }
  @include margin-bottom(2);
  padding-right: 20px;


  h3 {
    @include font-size(2);
    @include line-height(1.5);
    @include margin-bottom(0.5);
    @include margin-top(0.5);
  }

  img {
    margin: 0;
    @include margin-bottom(1);
  }

  .red-font {
    font-size: 6rem;
  }
}

.all-caps {
  font-family: $custom-font-headings;
  text-transform: uppercase;
}

.red-font {
  color: $bwt-red;
}

.book-reviews {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  p {
    max-width: 400px;
  }
}

.anim-delay-1 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.anim-delay-2 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

.anim-delay-3 {
  -webkit-animation-delay: 0.85s;
  -moz-animation-delay: 0.85s;
}

.anim-delay-4 {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

.faq {
  padding: 0 5%;
}

.countdown .tagline {
  margin-bottom: 0;
}