.book-main {
  text-align: center;
  @media screen and (min-width: 760px) {
    text-align: left;
  }

  img {
    max-width: 180px;
    float: none;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 760px) {
      max-width: 30%;
      float: left;
      @include margin(0,1.5,0,0)
    }
  }

  h1 {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
    text-transform: none;
    margin: 0;
    @include font-size(2);
    @include line-height(1.5);
    @include margin-bottom(0.5);
  }

  .tagline {
    margin: 0;
    @include margin-bottom(0.5);
  }

  @media screen and (min-width: 760px) {
    max-width: 850px;
    // .button {
    //   float: left;
    // }
  }
}

.price {
  color: $bwt-red;
  font-family: $custom-font-headings;
  @include font-size(2.22222222);
  @include line-height(1.5);
}

.original-price {
  color: #c0c0c0;
  margin-bottom: 0;
  font-family: $custom-font-headings;
  @include font-size(2.22222222);
  // @include margin-bottom(0.5);
  @include line-height(1.5);

  span {
    color: $color-font-body;
    text-decoration: line-through;
  }
}

.book-info {
  width: 100%;
  @media screen and (min-width: 760px) {
    max-width: 65%;
  }
}

body.book-page article {
  max-width: none;
}

.featured-logo img {
  width: 60%;
  max-width: 270px;
  @include margin-bottom(0);
  @media screen and (min-width: 760px) {
    width: 100%;
    @include margin-top(1);
    @include margin-bottom(1);
  }
}

.max-width {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.purchase-bottom {
  @include margin-top(2);
  @include margin-bottom(3);

  img {
    @include margin-bottom(1);
    max-width: 119px;
  }

  h1 {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
    text-transform: none;
    margin: 0;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    @include font-size(1.6);
    @include line-height(1.5);
    @include margin-bottom(0.5);
  }

  .price {
    @media screen and (min-width: 760px) {
      font-size: 60px;
      @include margin-bottom(1.5);
    }
  }
}