// Contain overflow in all browsers.
pre {
  overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

code {
  padding: 1em!important;
  display: block;
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  code {
    padding: 2em!important;
  }
}