.ima {
  list-style: none;
  margin: 0;
  padding: 0;

  input {
    margin-bottom: 0;
    margin-right: 10px;
  }

  label {
    display: inline;
  }

  li {
    margin: 0;
    padding: 15px;
    border: 2px solid #eaeaea;
    border-radius: 2px;
    display: block;
    width: 100%;
    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
      display: inline-block;
      width: 48%;
      margin-right: 2%;
    }

    &.radio-developer {
      width: 100%;
      @include margin-top(0.5);
      @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        display: inline-block;
        width: 48%;
        margin-top: 0;
        margin-left: 2%;
        margin-right: 0;
        float: right;
      }
    }
  }
}

input[type="radio"] {
  margin-top: -5px;
  // height: 100%;
  vertical-align: middle;
}

ul, ol {
  max-width: #{$max-width + 'em'};
  padding: 0;
}