body, html {
	background: white;
	height: 100%;
	margin: 0;
}

header {
	background: $colorVeryLight;
	padding: 7% 5%;
	margin-bottom: 15%;

	.logo {
		float: left;

		span {
			display: none;
		}

		svg {
			float: left;
			margin-right: 3px;
		}
	}

	nav {
		ul {
			float: right;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 7px;
			}
			li:last-child {
				margin: 0 0 0 7px;
			}
		}
	}
}

article {
	transition: all 0.3s;
}

img {
	max-width: 100%;
}

p img {
	margin: 0 auto;
	border: solid 1px $colorVeryLight;
}

hr {
	width: 100px;
	background: #bfc0c0;
	border: none;
	height: 1px;
	margin: 30% auto;
}


.intro {
	background: #e7e7e7 url(../assets/images/bgPhoto.jpg) center bottom no-repeat;
	padding: 15% 5% 35%;
	background-size: contain;
}

.features {
	padding-top: 20%;

	section {
		padding-top: 15%;
	}

	img {
		margin: 5% auto;
	}
}

.authorImg {
	text-align: center;
	padding: 1.6em;
}

footer {
	display: block;
	width: 100%;
	padding: 15% 0 10%;

	ul {
		list-style: none;
		padding: 0;

		li {
			display: inline-block;
			margin: 0 7px;
		}
	}
}

// Social Icons
.socialTw, .socialFb, .socialInst {
	width: 32px;
	height: 32px;
	display: block;

	svg {
		fill: #b4b5b5;
		transition: all 0.3s;
	}
}

.socialTw svg:hover {
	fill: $twitterBlue;
}

.socialFb svg:hover {
	fill: $facebookBlue;
}

.socialInst svg:hover {
	fill: $instagramBlue;
}

.shareTw {
	margin: $sizeMedium auto;
}

/* Mailchimp */
.subscribe {
	input {
		border: none;
		border-radius: 0!important;
		-webkit-appearance: none!important;
		padding: 10px 15px;
		width: 100%;
	}
	input[type='email'] {
		@extend input;
		background: $colorVeryLight;
	}
	input[type='email']:focus {
		background: white;
		box-shadow: 0px 0px 0px 1px $colorVeryLight inset;
	}
	input[type='submit'] {
		@extend input;
		background: $buttonRedNormal;
		color: white;
		margin-top: 10px;
		transition: all 0.3s;
	}
	input[type='submit']:hover {
		background: $buttonRedHover;
	}
	input[type='submit']:active {
		background: $buttonRedActive;
	}
	form {
		margin: 10% auto;
		width: 80%;
	}
}

// Form Validation
.curtain {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(180, 181, 181, 0.6);
	z-index: 9;
}

.msgContainer {
	display: table-cell;
	vertical-align: middle;
}

#msgContent {
	background: white;
	max-width: 90%;
	margin: 0 auto;
	z-index: 10;
	text-align: center;
	padding: 10% 5% 5%;

	.button {
		margin: 10% auto 0;
	}

	p a:before {
		white-space: pre;
		content: '\A';
	}
}

// MEDIA QUERIES
@media screen and (max-height: 320px) {
	.intro {
		padding: 5% 5% 30%;
		background-size: cover;

		h1 {
			font-size: 2em;
			margin: 0 auto 0.382em;
		}
	}
}

@media screen and (min-width: 400px) {
	hr {
		margin: 20% auto;
	}

	.features {
		padding-top: 15%;

		section {
			padding-top: 10%;
		}
	}
}

@media screen and (min-height: 500px) {
	.intro {
		padding: 20% 5% 40%;
	}
}

@media screen and (min-width: 600px) {
	header {
		padding: 3% 5%;
	}

	.intro {
		background-image: url(../assets/images/bgPhoto768.jpg);
	}

	.features {
		section {
			p {
				max-width: 450px;
			}
		}
	}

	// Mailchimp form
	.subscribe {
		form {
			max-width: 400px;
			margin: 10% auto;
		}

		.mergeTable {
			float: left;
		}

		.submit_container {
			float: left;
		}

		input[type='email'] {
			width: 300px;
		}

		input[type='submit'] {
			margin-top: 0;
			width: 100px;
		}
	}

	#msgContent {
		padding: 5%;
		max-width: 80%;

		.button {
			margin: 5% auto 0;
		}
	}
}

@media screen and (min-width: 768px) {
	header {
		margin-bottom: 10%;

		.logo {
			span {
				display: block;
				min-width: 200px;
			}
		}
	}

	.page h1 {
		margin-bottom: 5%;
	}

	hr {
		margin: 15% auto;
	}

	.features {
		padding-top: 10%;

		section {
			padding-top: 4%;
		}
	}

	img.lesson {
		max-width: 717px;
	}
}

@media screen and (min-width: 960px) {
	header {
		padding: 2%;

		nav {
			ul {
				li {
					margin: 0 10px;
				}
				li:last-child {
					margin: 0 0 0 10px;
				}
			}
		}
	}

	.intro {
		background-image: url(../assets/images/bgPhoto1024.jpg);
		background-size: cover;
		padding: 13% 5% 28%;

		h1, h2 {
			max-width: 100%;
		}
	}

	.shareTw {
		margin: $sizeLarger auto;
	}

	hr {
		margin: 8% auto;
	}

	.features {
		padding-left:5%;
		padding-right: 5%;

		section {
			float: left;
			width: 33%;

			p {
				width: 90%;

			}
		}
	}

	.col-2-left, .col-2-right {
		width: 50%;
		float: left;
		padding: 0;
	}

	.col-2-left {
		padding-left: 5%;
		padding-right: 3%;
	}

	.col-2-right {
		padding-left: 3%;
		padding-right: 5%;
	}

	.authorImg {
		width: 30%;
		float: left;
		text-align: right;
		padding-right: $sizeLarger;
	}

	.authorTxt {
		width: 70%;
		float: left;

		p {
			margin-left: 0;
		}
	}

	footer {
		padding: 10% 0 5%;
	}

	.subscribe {
		form {
			max-width: 420px;
			margin-top: 5%;
		}

		input {
			padding: 15px 20px;
		}

		input[type='submit'] {
			width: 120px;
		}
	}

	#msgContent {
		padding: 3%;
		max-width: 60%;
	}
}