body, html {
	color: $colorMedium;
	font: $typeDefault $fontBody;

	a {
		color: $linkNormal;
		text-decoration: underline;
	}

	a:active {
		color: $linkActive;
	}

	a:visited {
		color: $linkVisited;
	}
}

// Navigation
nav a, nav a:visited {
	color: $colorDark;
	text-decoration: none!important;
}

header {
	nav a:active {
		color: $colorRed;
		fill: $colorRed;
	}
}

.logo {
	color: $colorDark;
	font-family: $fontAbril;
	font-size: $typeOptimal;
	text-decoration: none;
	font-weight: normal;

	span {
		padding-top: 3px;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $colorDark;
}
article {
	p, ul, ol {
		margin: 0 auto $typeMedium;
	}
}

p, ul, ol {
	line-height: 1.507em;
}

ul, ol {
	padding-left: 1.5em;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
	max-width: 86%;
	margin-left: auto;
	margin-right: auto;
}

article ul > li, article ol > li {
	margin: 0;
	padding: 0;
	margin-bottom: 0.5em;
}

article ol li > ol, article ul li > ul {
	margin-top: 0.5em;
}

h1 {
	font-size: $typeLarge;
	text-align: center;
	font-family: $fontAbril;
	font-weight: normal;
	-moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    margin: 0 auto $sizeSmall;
}

.page h1 {
	margin-bottom: 7%;
}

h2 {
	font-size: $typeLarger;
	margin: 0 auto 1.2em;
}

.intro h2 {
	font-size: $typeOptimal;
}

h3 {
	font-size: $typeOptimal;
	margin: 0 auto 0.325em;
}

h4 {
	margin-bottom: $sizeSmall;
}

hgroup:not(.homeHeading) {
	text-align: center;

	h2 {
		font-family: $fontAbril;
		font-weight: normal;
		font-size: $typeLarger;
		margin-bottom: $sizeSmall;
	}

	h3 {
		font-weight: 300;
	}
}

// Footer
footer {
	color: $colorLight;
	font-size: 18px; // exception

	nav a, nav a:visited {
		color: $colorDark;
	}

	nav a:active {
		color: $colorRed;
	}

	a {
		color: $colorLight;
	}

	a:visited {
		color: $colorLight;
	}

	a:active {
		color: $colorDark;
	}
}

@media screen and (min-width: 768px) {
	p, article > ul, article > ol {
		font-size: $typeOptimal;
	}

	h1 {
		font-size: $typeVeryLarge;
		margin-bottom: $sizeDefault;
	}

	h2 {
		font-size: $typeLarge;
	}

	.intro h2 {
		font-size: 30px;
	}

	h3 {
		font-size: $typeMedium;
	}

	h4 {
		font-size: $typeOptimal;
	}

	hgroup:not(.homeHeading) {
		h2 {
			font-size: $typeLarge;
			margin-bottom: $sizeSmall;
		}
	}
}

@media screen and (min-width: 960px) {
	p, h1, h2, h3, h4, ul, ol {
		max-width: $sizeMax;
	}
}