// Colours
$bwt-pink: #BC4E9C;
$bwt-red: #F80759;
$bwt-mix: #DB2B7B;
$bwt-black: #222;
$bwt-medium: #B0ABAB;
$bwt-light: #F2EDED;
$bwt-extra-light: #f5f5f5;
$bwt-blue: #2D9CDB;
$bwt-dark-blue: #0F1F2F;

$bwt-gradient: linear-gradient(135deg, #BC4E9C 0%, #F80759 100%);

// Presets
$radius-soft: 7px;
$radius-round: 100px;

// Breakpoints
$desktop: 63.75em;

// Styles
.bwt-gradient {
  background: $bwt-gradient;
}

.s-corners-soft {
  border-radius: $radius-soft;
}

.s-corners-round {
  border-radius: $radius-round;
}

.fullScreen {
  height: 100%;
  width: 100%;
}

.table {
  display: table;
}

.curtain {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(10, 19, 29, 0.98);
  z-index: 9;
  margin-bottom: 0;
  overflow-y: scroll;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.show-overflow {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

.hide {
  display: none;
}

.show-element {
  display: block!important;
}

.o-0 {
  // animation-name: hide-delay;
  // animation-duration: 1s;
  opacity: 0!important;
}

.fixed_position {
  position: fixed;
}

.bg-contain {
  background-size: contain!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
}

.bg-cover {
  background-size: cover!important;
  background-position: center!important;
}

.bg-dark {
  color: #fff;
}

.bg-dark-blue {
  background: $bwt-dark-blue;
}

.bg-gradient {
  background: $bwt-gradient;
}

.bg-light-gray {
  background: $bwt-extra-light;
}

.allsmallcaps {
  font-feature-settings: "c2sc", "smcp";
}

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0!important;
}

.top-pad-1-mobile {
  @include padding(1,0);
}

.hr-border {
  border-bottom: solid 5px $bwt-mix;
  display: inline-block;
}

.huge-number {
  font-family: $custom-font-headings;
  font-size: 70px;
  line-height: 90px;
  font-weight: 300;
}

.side-pad-10 {
  padding: 5px 10%;
}

.left-pad-20px {
  padding-left: 20px;
}

.hide-mobile {
  display: none!important;
}

.show-desktop, .show-tablet {
  display: none;
}

// Fonts
.f-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-s-14px {
  font-size: 14px;
}

.f-s-24px {
  font-size: 24px;
}

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.f-acumin {
  font-family: $custom-font-acumin;
}

.f-acumin-c {
  font-family: $custom-font-headings;
}

h3.f-acumin {
  text-transform: none;
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.narrow {
  max-width: 300px;
}

// Float defaults
.floatLeft {
  float: left;
}

.floatCenter {
  margin-left: auto;
  margin-right: auto;
}

.floatRight {
  float: right;
}

// Flex
@media screen and (min-width: $desktop) {
  .mobile-only {
    display: none!important;
  }

  .hide-mobile {
    display: block!important;
  }

  .side-pad-10 {
    padding: 0;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .huge-number {
    font-size: 100px;
    line-height: 135px;
  }
}

@media screen and (min-width: 40em) {
  .show-tablet {
    display: block;
  }
}

// Wider than 1280 px
@media screen and (min-width: 80em) {
  .show-desktop {
    display: block;
  }
}

// Wider than 1440 px
@media screen and (min-width: 90em) {
  .max-width-hdpi {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-mix {
  color: $bwt-mix;
}

.c-green {
  color: #24D7D1;
}

// Margins

.no-bottom-margin {
  margin-bottom: 0!important;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0!important;
}

.bottom-margin-half {
  @include margin-bottom(0.5);
}

.no-top-padding {
  padding-top: 0!important;
}

.t-m-1 {
  @include margin-top(1);
}

.t-m-2 {
  @include margin-top(2);
}

.t-m-3 {
  @include margin-top(3);
}

.t-m-4 {
  @include margin-top(4);
}

.b-m-05 {
  @include margin-bottom(0.5);
}

.b-m-1 {
  @include margin-bottom(1);
}

.b-m-2 {
  @include margin-bottom(2);
}

.b-m-3 {
  @include margin-bottom(3);
}

.b-m-4 {
  @include margin-bottom(4);
}

.w-50p {
  width: 50%;
}

.p-l-50px {
  padding-left: 50px;
}

.pos-relative {
  position: relative;
}

.dis-i-b {
  display: inline-block!important;
}

.width-200px {
  max-width: none!important;
  min-width: 0!important;
  width: 200px!important;
}

.floatNone {
  float: none!important;
}